root = true

[*]
end_of_line = lf
indent_style = space

# ReSharper properties
resharper_csharp_insert_final_newline = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_linq_into_on_new_line = false
resharper_wrap_object_and_collection_initializer_style = chop_always

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true

[*.csproj]
indent_size = 2

[*.cs]
max_line_length = 120
indent_size = 4

# Naming rules
dotnet_naming_rule.default_pascal_case.severity = error
dotnet_naming_rule.default_pascal_case.symbols = default_pascal_case_symbols
dotnet_naming_rule.default_pascal_case.style = pascal_case

dotnet_naming_rule.local_variable_camel_case.severity = error
dotnet_naming_rule.local_variable_camel_case.symbols = local_variable
dotnet_naming_rule.local_variable_camel_case.style = camel_case

dotnet_naming_rule.private_field_has_prefix.severity = error
dotnet_naming_rule.private_field_has_prefix.symbols = private_field
dotnet_naming_rule.private_field_has_prefix.style = private_field_prefix

dotnet_naming_rule.interface_has_prefix.severity = error
dotnet_naming_rule.interface_has_prefix.symbols = interface
dotnet_naming_rule.interface_has_prefix.style = interface_prefix

dotnet_naming_rule.type_parameter_has_prefix.severity = error
dotnet_naming_rule.type_parameter_has_prefix.symbols = type_parameter
dotnet_naming_rule.type_parameter_has_prefix.style = type_parameter_prefix

dotnet_naming_rule.async_method_has_suffix.severity = error
dotnet_naming_rule.async_method_has_suffix.symbols = async_method
dotnet_naming_rule.async_method_has_suffix.style = async_method_suffix

# Symbol specifications
dotnet_naming_symbols.default_pascal_case_symbols.applicable_kinds = namespace, class, struct, interface, enum, property, field, event, delegate, type_parameter, local_function
dotnet_naming_symbols.default_pascal_case_symbols.applicable_accessibilities = *

dotnet_naming_symbols.local_variable.applicable_kinds = local
dotnet_naming_symbols.local_variable.applicable_accessibilities = local

dotnet_naming_symbols.private_field.applicable_kinds = field
dotnet_naming_symbols.private_field.applicable_accessibilities = private

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = *

dotnet_naming_symbols.type_parameter.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameter.applicable_accessibilities = *

dotnet_naming_symbols.async_method.applicable_kinds = method, local_function
dotnet_naming_symbols.async_method.applicable_accessibilities = *
dotnet_naming_symbols.async_method.required_modifiers = async

# Naming styles
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.camel_case.capitalization = camel_case

dotnet_naming_style.private_field_prefix.capitalization = camel_case
dotnet_naming_style.private_field_prefix.required_prefix = _

dotnet_naming_style.interface_prefix.capitalization = pascal_case
dotnet_naming_style.interface_prefix.required_prefix = I

dotnet_naming_style.type_parameter_prefix.capitalization = pascal_case
dotnet_naming_style.type_parameter_prefix.required_prefix = T

dotnet_naming_style.async_method_suffix.capitalization = pascal_case
dotnet_naming_style.async_method_suffix.required_suffix = Async

# Code style
dotnet_diagnostic.ide0005.severity = error
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_braces = when_mutliline:error
csharp_prefer_simple_using_statement = true:error
csharp_style_namespace_declarations = file_scoped:error
dotnet_diagnostic.ide0001.severity = error
dotnet_diagnostic.ide0002.severity = error
dotnet_diagnostic.ide0004.severity = error
dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_prefer_auto_properties = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_diagnostic.ide0035.severity = error
dotnet_style_prefer_inferred_tuple_names = true:error
dotnet_style_prefer_inferred_anonymous_type_member_names = true:error
dotnet_diagnostic.ide0051.severity = error
dotnet_diagnostic.ide0052.severity = error
dotnet_diagnostic.ide0070.severity = error
dotnet_style_prefer_simplified_interpolation = true:error
dotnet_style_prefer_simplified_boolean_expressions = true:error
dotnet_diagnostic.ide0082.severity = error
dotnet_diagnostic.ide0100.severity = none
dotnet_diagnostic.ide0120.severity = error
dotnet_style_namespace_match_folder = true:error
csharp_style_throw_expression = true:error
csharp_style_inlined_variable_declaration = true:error
csharp_prefer_simple_default_expression = true:error
csharp_style_prefer_index_operator = true:error
csharp_style_prefer_range_operator = true:error
dotnet_diagnostic.ide0080.severity = error
csharp_style_implicit_object_creation_when_type_is_apparent = true:error
dotnet_diagnostic.ide0110.severity = error
csharp_style_prefer_null_check_over_type_check = true:error
csharp_style_prefer_tuple_swap = true:error
dotnet_style_readonly_field = true:error
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
csharp_preferred_modifier_order = public, private, protected, internal, file, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async
csharp_style_conditional_delegate_call = true:error
dotnet_code_quality_unused_parameters = all:error
dotnet_diagnostic.ide0280.severity = error
csharp_style_pattern_matching_over_as_with_null_check = true:error
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_prefer_pattern_matching = true:error
csharp_style_prefer_not_pattern = true:error
csharp_style_prefer_extended_property_pattern = true:error
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
dotnet_diagnostic.ide0055.severity = none
dotnet_diagnostic.ide0290.severity = none

# Documentation styles
dotnet_diagnostic.cs1591.severity = none
dotnet_diagnostic.cs1573.severity = none
